h1{
    text-align: center;
}
#parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
img{
    width: 100%;
    height: 100%;
}
#parent div{
    width: 300px;
    background-color: bisque;
    margin: 5px;
}
#parent div:nth-child(2),#parent div:nth-child(6){
    height: 300px;
    overflow: hidden;
}